.App {
  text-align: center;
}

h1 {
  font-size: 42px;
}

p {
  font-size: 24px;
}

button {
  background: rgb(116, 212, 38);
  outline: 0;
  border: 0;
  border-radius: 5px;
  padding: 7px 10px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

input {
  outline: 0;
  border: 0;
  box-shadow: 0px 0.1px 0px 0px;
}

.form-control {
  position: relative;
  width: 80%;
}

.form-input {
  outline: 0;
  border: "none";
  width: 100%;
  border-radius: 4px;
  height: 35px;
  padding-left: 10px;
  display: block;
  margin-top: 10px;
  font-size: 17px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: 80%;
  margin-bottom: 40px;
}

.icon {
  position: absolute;
  font-size: 15px;
  top: 11px;
  right: 2px;
  z-index: 5;
}
